
$bg-color: #E5E9F0;
$text-color: #2E3440;



p,a,h1,h2,h3 {
    color: $text-color;
    text-decoration: none;
}











// Root Styling
* {
    background: $bg-color;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}

// Nav - Navbar - Main Menu
.nav {
    ul {
        display: flex;
        .menu-icon {
            display: flex;
            background: $bg-color;
            border-radius: 100%;
            border-color: rgb(0, 0, 0);
            margin: 8px;
            width: 50px;
            height: 50px;
        }
        .nav-list {
            display: flex;
            padding: 10px;
            list-style: none;
            .nav-link {
                user-select: none;
                font-size: 16px;
                font-family: Poppins;
                font-weight: bold;
                margin: 10px;
                color: red;
                text-decoration: none;
                &:hover {
                    color: black;
                    font-weight: bolder;
                }
            }
        }
    }
}

// Styling for Index.html
.index {
    padding: 40px;
    .main {
        .hero {
            .main-img {
                background: gray;
                border-radius: 10%;
                width: 300px;
                border-color: rgb(0, 0, 0);
                height: 300px;
            }
            h1 {
                font-family: Arial;
                color: $text-color;
                font-size: 30px;
                text-align: center;
            }
        }
        .social {
            text-align: center;
            color: $text-color;
            .email{
                color: gray;
                font-size: 20px;
                &:hover{
                    font-weight: bold;
                    font-size: 25px;
                }
            }
            .facebook{
                color: blue;
                font-size: 20px;

                &:hover{
                    font-weight: bold;
                    font-size: 25px;
                }
            }
            .phone{
                font-size: 20px;
                color: green;
                &:hover{
                    font-weight: bold;
                    font-size: 25px;
                }
            }
        }
    }
}
